/*@font-face {*/
/*    -fx-font-family: 'Montserrat';*/
/*    src: url('/Resources/FontMontserrat/Montserrat-SemiBold.ttf');*/
/*}*/

.root{
    -fx-background-color: #F6F7FB;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#title-box {
    -fx-background-color: #d6d6d6;
    -fx-border-radius: 10px;
    -fx-background-radius: 0 100 100 0px;
    -fx-padding: 10px 10px 10px 10px;
}

.title-label {
    -fx-font-family: 'Montserrat SemiBold';
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.menu-button {
    -fx-background-color: #5D5D5D;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #f7931e;
}

.buttonBox {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10px;
}

.logOut {
    -fx-background-color: #5D5D5D;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat";
}

.logOut:hover {
    -fx-background-color: red;
}


